$background: #2C313C;
$board: #F4F4F4;
$green: #368471;
$blue: #003152;
$orderDefaultColor: #baffff;
.bodyCtn {
  background-color: $background;
}
.mainCtn {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $background;
}
.boardTitle {
  color: whitesmoke;
}
.board {
  background-color: $board;
  border-radius: 10px;
  height: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}
.graphCtn {
  //margin: 10px;
  width: 100%;
  height: 100%;
}
.linkLabelInput {
  border-width: 0 0 1px 0;
  border-color: red green gray red;
  border-style: solid;
  height: 45px;
  width: 100%;
  color: #003152;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}
.linkLabelInput:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: #003152;
  font-weight: 200;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
}
.enterButton {
  background-color: #003152;
  color: whitesmoke;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
}
.logoCtn {
  text-align: center;
}
.logo {
  height: 40px;
  width: 150px;
  margin: 4px;
}
.logoCollapsed {
  height: 40px;
  width: 40px;
  margin: 4px;
}
.site-layout .site-layout-background {
  background: #fff;
}
.runButton {
  background-color: $green;
  border-color: $green;
}
.modalQuestion {
  color: $blue;
  font-weight: bolder;
  font-size: large;
  font-weight: 400;
  font-size: 20px;
}
.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
.assignation {
  color: $blue
}
.messageModalTitle {
  color: #2C313C;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  font-weight: bolder;
  text-align: center;
}
.boardCtn {
  text-align: center;
}
.orderChartCtn {
  padding-left: 10px;
  padding-right: 10px;
}
.columnCtn {
  height: 100%;
}
.orderBarColumn {

}
.orderColumnDrawing {
  width: 18px;
}
.orderColumnLabel {
  font-size: 20px;
  font-weight: 600;
}
