$background: #2C313C;
$board: #F4F4F4;
$green: #368471;
$blue: #003152;
$orderDefaultColor: #baffff;
.bodyCtn {
  background-color: $background;
  text-align: center;
}
.mainCtn {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: $background;
}
.boardTitle {
  color: whitesmoke;
}
.map-ctn {
  background-color: $board;
  border-radius: 10px;
  height: 98vh;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  margin: 5px;
}
.map-sub-ctn {
  height: 100%;
}
.map-image-ctn {
  background-image: url("../../assets/maps/HN4thFloor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 959px;
  height: 693px;
}
.node {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #003152;
}
.svg {
  z-index: 20;
  top: 10vh;
  left: 10vw;
  width: 959px;
  height: 693px;
}
.logoCtn {
  text-align: center;
}
.site-layout .site-layout-background {
  background: #fff;
}
.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
